GITLAB_ROOT_PASSWORD=Adesso-Suspmi-2026!
GITLAB_TOKEN=<empty>
GITLAB_HOST=http://localhost:8090

# Redis / Queue
REDIS_URL=redis://localhost:6379
WORKER_CONCURRENCY=1

SERVER_PORT=4300
SERVER_AGENT_CONFIG=./examples/calculator/config/config.json
